body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.logo-item {
    color: #285430 !important;
}

.navbar {
    background-color: #edf5e8;
}

li {
    list-style: none;
}

/* .back-op {
    background-color: #eff5f580;
} */

.main-nav {

    box-sizing: border-box;
    height: 90vh;
    background: url(./img/header-display.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.main-nav-book {
    box-sizing: border-box;
    height: 70vh;
    background: url(./img/book-header\(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    z-index: -1;
}

.navbar {

    position: sticky;
    top: 0;
    z-index: 2;
}

.logo-item {
    color: aliceblue;
    font-family: 'Anton', sans-serif;
    margin: 0;
}

.redirection-item a {
    text-decoration: none;
    font-weight: 500;

}

.redirection-item a:hover {
    color: #EC7272;

}

.logo-items i {
    color: #EC7272;
    font-size: 30px;
}

.card {
    background-color: #faf5e4e0 !important;
    border-radius: 10px;
}

.card-title {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.card a {
    color: aliceblue;

}

.card a:hover {
    background-color: rgb(221, 223, 221) !important;
    color: aliceblue;
}

.main-item {
    background-color: #fff;
    margin-left: 10px;
    margin-right: 10px;
}



.down-icon {
    font-size: 50px;
    background-color: rgb(230, 231, 231);
    margin: 0;
    height: 10vh;
}

.main-cards img {
    height: 300px;
    border-radius: 15px;
    /* border: 2px solid rgb(70, 71, 70); */
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.footer-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.footer-icon i {
    font-size: 25px;
}

.footer-icon i:hover {
    background-color: cadetblue;
}

.span-text {
    border-bottom: 1px solid steelblue;
    border-top: 1px solid steelblue;

}

.my-b-color {
    background-color: #0f3da0;
}

.my-b-color :hover {
    background-color: #000000 !important;

}

.active {
    color: #FEA82F;
}