body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.back-op {
    background-color: #eff5f521;
}

.main-nav {

    box-sizing: border-box;
    height: 95vh;
    background: url(./img/header-display.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.navbar {

    position: sticky;
    top: 0;
    z-index: 2;
}

.logo-item {
    color: aliceblue;
    font-family: 'Anton', sans-serif;
    margin: 0;
}

.redirection-item a {
    text-decoration: none;
    color: aliceblue;

}

.logo-items i {
    color: rgb(240, 181, 105);
    font-size: 30px;
}

.card {
    background-color: #faf5e4e0 !important;
    border-radius: 10px;
}

.card-title {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.card a {
    color: aliceblue;

}

.card a:hover {
    background-color: rgb(10, 70, 5) !important;
    color: aliceblue;
}

.main-item {
    background-color: #EFF5F5;
}

.down-icon {
    font-size: 50px;
}

.main-cards img {
    height: 300px;
    border-radius: 15px;
    border: 2px solid rgb(10, 70, 5);
}

.footer-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.footer-icon i {
    font-size: 25px;
}

.footer-icon i:hover {
    background-color: cadetblue;
}